.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}
iframe{
  max-width: 80%;
  height: auto;
  align-self: center;
  justify-self: center;
}

.video-container{
  display: flex;
  align-items: center;
}
